.pio
.vscode/

BotDebug/.qmake.stash
BotDebug/BotDebug.pro.user
BotDebug/debug/
BotDebug/Makefile
BotDebug/Makefile.Debug
BotDebug/Makefile.Release
src/config.h
.vscode/
checking-cppcheck-build-dir/
checking.cppcheck
